body {
    overflow-x: hidden;
    padding-bottom: 30px;
}

div.footerText {
    margin-bottom: 20px;
    text-align: right;
}

.smallInput {
    width : 250px;
}

.multiline
{
    padding:20px;
    white-space: pre;
}

.nav.navbar-nav li a {
    color: #337ab7;
}