body {
    overflow-x: hidden;
    padding-bottom: 30px;
}

div.footerText {
    margin-bottom: 3px;
    text-align: right;
}

.smallInput {
    width : 200px;
}

.multiline
{
    padding:20px;
    white-space: pre;
}

.nav.navbar-nav li a {
    color: #337ab7;
}

div.text-primary {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.navbar-fixed-bottom {
    z-index: -100;
}

thead {
   background-color: lemonchiffon;
}